* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body{
  font-family: Blorado, sans-serif;
  background-color: #fffdfc;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  line-height: 1.3;
}
a {
  text-decoration: none ;
}
