.about-section {
  margin: 0 auto;
  padding: 0px 200px;
}
.about-section .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}
.about-section .main-heading {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 900;
  margin: 64px 0px 28px;
  width: 100%;
  font-size: 50px;
  white-space: nowrap;
  color: #000;
}

.main-heading::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: #776f6f;
}

.text-card p {
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 400;
  color: #545454;
  line-height: 25px;
  margin-bottom: 20px;
}
p > a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #fd2155;
}
p > a:hover {
  color: #fd2155;
  outline: 0px;
}
p > a::after {
  content: "";
  display: block;
  width: 0px;
  height: 1px;
  position: relative;
  bottom: 0.37em;
  background-color: #fd2155;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  opacity: 0.5;
}
p > a:hover::after {
  width: 100%;
}

.skills ul.skills-list {
  color: #545454;
  letter-spacing: 1px;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0 0;
  overflow: hidden;
  list-style: none;
}
.skills ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 100;
}
.skills ul.skills-list li::before {
  content: "▹";
  position: absolute;
  left: 0px;
  color: #fd2155;
  font-size: 14px;
  line-height: 12px;
}
.img-card {
  position: relative;
  width: 80%;
  margin-left: 10px;
  z-index: 1;
}
.img-card img {
  border-radius: 4px;
}
.img-card::before {
  content: "";
  position: absolute;
  right: -25px;
  top: 25px;
  border: 2px solid #fd2155;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 4px;
}

.about-section .to-work-page p {
  margin: 50px 0 0;
  color: #000;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: normal;
}
a:hover {
  text-decoration: underline;
}

.about-section p svg {
  margin-left: 1rem;
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media only screen and (max-width: 991px) {
  .about-section {
    padding: 50px 0;
  }
  .about-section .inner {
    display: block;
  }
  .text-card p {
    font-size: 16px;
  }

  .imgs {
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .img-card {
    width: 70%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto 40px;
  }
}

@media (max-width: 768px) {
  .about-section .main-heading {
    font-size: 40px;
    text-align: center;
  }
}
