.contact-page {
  padding: 0px 200px;
  height: 100vh;
}
.contact-page .main-heading {
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 900;
  margin: 64px 0px 28px;
  width: 100%;
  font-size: 50px;
  white-space: nowrap;
  color: #000;
}
.contact-page p {
  color: #545454;
  line-height: 2;
  margin-top: 5px;
  font-size: 16px;
}
p > b {
  color: #000;
}
.contact-page form {
  width: 60%;
}

.contact-page input {
  background: transparent !important;
  margin-bottom: 32px;
  resize: none;
  color: #000;
  box-shadow: none !important;
  padding: 24px 21px;
  border-color: #eaeaea !important;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contact-page textarea {
  background: transparent;
  margin-bottom: 32px;
  color: #000 !important;
  box-shadow: none !important;
  padding: 24px 21px !important;
  border-color: #eaeaea !important;
}
textarea.form-control {
  height: auto;
}
.contact-page button {
  font-size: 15px;
  background: #000;
  border: none;
  color: #fffdfc;
  border-radius: 5px;
  padding: 15px 40px;
  margin-bottom: 48px;
}
.btn:hover {
  color: #fff;
  background-color: #000;
}
.contact-page .to-home-page p {
  margin: 50px 0 0;
  color: #545454;
  font-size: 15px;
  font-weight: 100;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}

.contact-page p svg {
  margin-left: 1rem;
  animation-name: forward;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media (max-width: 991px) {
  .contact-page {
    padding: 0px;
  }
  .contact-page form {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .contact-page .main-heading {
    font-size: 40px;
    text-align: center;
  }
}
